<div class="row text-center">
    <h1 class="text-info">You have reached the end of the internet. </h1>
    <hr />
    <div class="col-md-6 offset-3">
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">HOME PAGE</a>
    </div>
</div>